body {
  line-height: 1.6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,svg,video {
  display: block;
  max-width: 100%;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}